@media (max-width: 1550px)
    .container
        width: 80%
    header
        padding-top: 52px
        .menu_item
            font-size:20px
    .first_sec
        h1
            font-size: 45px
        &_btn
            margin-top: -175px
        &_sell_btn
            font-size: 20px
            width: 210px
            height: 80px
        &_buy_btn
            font-size: 20px
            width: 210px
            height: 80px
    .view_nfts
        height: 800px
    .view_nfts_cards_polygon
        width: 130%
        margin-top: 81px
    .view_nfts_text
        font-size: 38px
        width: 380px
        bottom: 120px
    .view_nfts_btn
        font-size: 35px
        width: 350px
        height: 76px

@media (max-width: 1450px)
    .container
        width: 70%
    .view_nfts
        height: 750px
    .view_nfts_cards_polygon
        width: 130%
        margin-top: 81px
    .view_nfts_text
        font-size: 40px
        width: 380px
        bottom: 120px
    .view_nfts_btn
        font-size: 35px
        width: 350px
        height: 76px
    .testmonial_title
        font-size: 45px
    .testmonial_clients_item_name
        font-size: 30px
    .testmonial_clients_item_back
        width: 300px
    .testmonial_clients_item_descr
        font-size: 15px
        width: 250px
        top:225px


.be_part
    .be_part_text
        font-size: 45px
    .be_part_btn
        font-size: 28px

footer
    .my_cols_title
        font-size: 25px
    .my_cols_item
        font-size: 20px
