@mixin customButton
    width: 256px
    height: 95px
    border-radius: 50px
    color: #FFF
    text-align: center
    font-size: 27px
    font-weight: 700
    line-height: normal
    text-transform: uppercase

@mixin blur_ellips
    position: absolute
    width: 590px
    height: 594px
    filter: blur(217px)
    z-index: -1

@mixin buy_now_rectangle
    width: 126px
    height: 68px
    border-radius: 16px
    border: 2px solid #56CAB1
