* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Inter;
    background-color: #1D005A;
    height: 100%;
}

.background {
    height: calc(100% - 62px);
    overflow: auto;
    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bold-text {
    font-weight: 900;
}
.purple-text {
    color: #FF98F5;
}
.display-none {
    display: none;
}

@import 'blocks/header.scss';
@import 'blocks/gem.scss';
@import 'blocks/gems.scss';
@import 'blocks/navbar.scss';
@import 'blocks/item.scss';
@import 'blocks/buttons.scss';
@import 'blocks/reviews.scss';
@import 'blocks/buy.scss';
@import 'blocks/buyForm.scss';
@import 'blocks/waitingPay.scss';
@import 'blocks/pagePicture.scss';
@import 'blocks/successful.scss';
@import 'blocks/faq.scss';
@import 'blocks/service.scss';