* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'SF Pro Display', sans-serif;
}

button {
    cursor: pointer;
}

.background {
    height: 100%;
    overflow: auto;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
        }
    &_min {
        height: calc(100% - 86px);
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
}

.grey-text {
    color: #7D7D7D;
}

$secondary-background: #EFEFF4;

@import 'fonts';
@import 'blocks/header';
@import 'blocks/topContent.scss';
@import 'blocks/pageHeader.scss';
@import 'blocks/specialOffer.scss';
@import 'blocks/cardSpecialOffer.scss';
@import 'blocks/mainBlock.scss';
@import 'blocks/catalog.scss';
@import 'blocks/buttons';
@import 'blocks/productInfo';
@import 'blocks/productCover';
@import 'blocks/reviews';
@import 'blocks/orders';
@import 'blocks/help';
@import 'blocks/faqCover';
@import 'blocks/faq';
@import 'blocks/service';
@import 'blocks/waitingPay';
@import 'blocks/modal';
@import 'blocks/modalId';
@import 'blocks/modalPay';
@import 'media/orders';
@import 'media/buttons';
@import 'blocks/profile';
@import 'blocks/mainButton';
