.logo
    color: #fff
    font-size: 37px
    font-style: italic
    font-weight: 900
    span
        color: #2B59FF
    &-header
        margin-right: 26px


.green-status
    background: #2ba35c
    color: #fff

.cases-title
    color: #fff
    font-size: 28px
    font-weight: 900
    text-transform: uppercase
    line-height: 27.16px
    display: flex
    justify-content: center
    align-items: center
    gap: 20px
    
