.logo
    color: #fff
    font-size: 37px
    font-style: italic
    font-weight: 900
    text-decoration: none
    span
        color: $btn-color

.arrow-rotate
    transition: transform 0.3s ease
    &_activate
        transform: rotate(180deg) translateY(-3px)

.text-fw600
    color: #fff
    font-size: 14px
    font-weight: 600

.text-fw700
    color: #fff
    font-size: 14px
    font-weight: 700

.text-fz16-fw700
    color: #fff
    font-size: 16px
    font-weight: 700

.descr-fw500
    color: $grey-color
    font-size: 12px
    font-weight: 500

.header__ads-block-auth
    margin-right: 50px

.hidden
    display: none

.visible
    &_menu
        display: flex

.button-fill
    display: inline-block
    width: auto
    height: auto
    background: $btn-color
    box-shadow: 0px 0px 10.699999809265137px #001B7E
    border-radius: 12px
    border: none
    color: #fff
    font-size: 12px
    font-weight: 600
    padding: 12px 17px
    &-bonus
        display: block
        box-shadow: 0px 0px 150px rgba(64.81, 106.08, 255, 0.46)
        border: 1px #2C5DFF solid
        margin: 0 auto
        margin-top: 16px
        &-big-padding
            padding: 12px 27px
        
.title__wrapper
    height: auto
    width: auto
    padding: 0 52px
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: -25px
    background-color: $bg-color
    &_bonus
        padding: 0 32px
    &_case-color
        background: none
        z-index: 2
        top: 0px

.buttons__wrapper
    height: auto
    width: auto
    padding: 0 28px
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: -26px
    background-color: $bg-color
    &_case-color
        z-index: 2
        bottom: 0

.openning-label
    width: 152px
    height: 52px
    background: #121524
    border-radius: 12px
    border: 1px #131624 solid
    color: #4F5670
    font-size: 16px
    font-weight: 700
    text-align: center
    line-height: 52px
    &-case
        margin: 0 auto
        margin-top: 110px
    
.title
    color: #fff
    &_fz26
        font-size: 26px
        font-weight: 700
        text-transform: uppercase

