*
    box-sizing: border-box
    font-family: 'Inter', sans-serif

body
    background-color: #0D0F19
    margin: 0

.container
    max-width: 1440px
    margin: 0 auto

button
    cursor: pointer
    

@import 'base/variables'
@import 'base/mixins'
@import 'blocks/titles.sass'
@import 'blocks/account-items.sass'
@import 'blocks/ads-winter.sass'
@import 'blocks/modal-auth.sass'
@import 'blocks/balance.sass'
@import 'blocks/bonus.sass'
@import 'blocks/buttons.sass'
@import 'blocks/cards.sass'
@import 'blocks/case-color.sass'
@import 'blocks/case-final.sass'
@import 'blocks/case-item.sass'
@import 'blocks/case-openning.sass'
@import 'blocks/case.sass'
@import 'blocks/change-language.sass'
@import 'blocks/contacts.sass'
@import 'blocks/contract.sass'
@import 'blocks/drum.sass'
@import 'blocks/modal-error.sass'
@import 'blocks/every-day-challenge.sass'
@import 'blocks/faq.sass'
@import 'blocks/farm-cases.sass'
@import 'blocks/footer.sass'
@import 'blocks/header-scroll.sass'
@import 'blocks/header.sass'
@import 'blocks/heart-counter.sass'
@import 'blocks/invent-items.sass'
@import 'blocks/invent.sass'
@import 'blocks/limited.sass'
@import 'blocks/modal.sass'
@import 'blocks/mystery-cases.sass'
@import 'blocks/payment-block.sass'
@import 'blocks/profile-search.sass'
@import 'blocks/profile.sass'
@import 'blocks/promo.sass'
@import 'blocks/promocode-input.sass'
@import 'blocks/scroll.sass'
@import 'blocks/search.sass'
@import 'blocks/statistic.sass'
@import 'blocks/top-banner.sass'
@import 'blocks/upgrade-logo.sass'
@import 'blocks/upgrade.sass'
@import 'blocks/modal-withdraw.sass'
@import 'blocks/your-invent.sass'
@import 'main.sass'
@import 'global.sass'
@import 'blocks/buttons.sass'
@import 'inline-styles.sass'
@import 'media/ads-winter.sass'
@import 'media/modal-auth.sass'
@import 'media/balance.sass'
@import 'media/bonus.sass'
@import 'media/buttons.sass'
@import 'media/cards.sass'
@import 'media/case-color.sass'
@import 'media/case-final.sass'
@import 'media/case-item.sass'
@import 'media/case-openning.sass'
@import 'media/case.sass'
@import 'media/contacts.sass'
@import 'media/contract.sass'
@import 'media/drum.sass'
@import 'media/modal-error.sass'
@import 'media/every-day-challenge.sass'
@import 'media/faq.sass'
@import 'media/farm-cases.sass'
@import 'media/footer.sass'
@import 'media/global.sass'
@import 'media/header.sass'
@import 'media/invent-items.sass'
@import 'media/invent.sass'
@import 'media/limited.sass'
@import 'media/media.sass'
@import 'media/modal.sass'
@import 'media/mystery-cases.sass'
@import 'media/profile-search.sass'
@import 'media/profile.sass'
@import 'media/promo.sass'
@import 'media/promocode-input.sass'
@import 'media/scroll.sass'
@import 'media/search.sass'
@import 'media/statistic.sass'
@import 'media/titles.sass'
@import 'media/top-banner.sass'
@import 'media/upgrade.sass'
@import 'media/modal-withdraw.sass'
@import 'media/your-invent.sass'
