@import 'base/variables'
@import 'base/mixins'
@import "blocks/promo"
@import "blocks/header"
@import "blocks/top-banner"
@import "blocks/farm-cases"
@import 'main.sass'
@import 'all-elements.sass'
@import 'inline-styles.sass'

// @import 'media'

*
    box-sizing: border-box

body
    font-family: 'Inter', sans-serif
    background-color: #0D0F19
    margin: 0

.container
    max-width: 1440px
    margin: 0 auto