.header {
    position: relative;
    z-index: 10;
    &__wrapper {
        padding: 37px 51px;
        border-bottom: 1px rgba(41, 41, 51, 0.10) solid;
        column-gap: 50px;
        position: relative;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        column-gap: 6px;
        margin-right: 50px;
        &-wrapper {
            position: relative;
        }
    }
    &__phone {
        color: #292933;
        font-size: 26px;
        font-weight: 700;
        word-wrap: break-word;
        white-space: nowrap;  
        text-decoration: none;  
    }
    &__email {
        color: rgba(41, 41, 51, 0.50);
        font-size: 16px;
        font-weight: 500;
        word-wrap: break-word;    
        text-decoration: none;
    }
    &__menu {
        gap: 50px;
        margin-left: 50px;
        margin-right: 100px;
        max-width: 800px;
        &-button {
            background-color: #FF6C17;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;   
            gap: 4.62px;
            padding-right: 16px; 
            display: none;
            border: none;
        }
    }
    &__item {
        color: #292933;
        font-size: 18px;
        font-weight: 500;
        word-wrap: break-word;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        img {
            margin-left: 10px;
        }
    }
    
}
