.works {
    width: 100%;
    position: relative;
    z-index: 7;
    &__wrapper {
        position: relative;
    }
    &__col {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    &__item {
        position: relative;
        width: 390px;
        height: 300px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__dark {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.40);
    }
    &__background {
        padding: 0;
        width: 2250px;
    }
    &__block-title {
        margin: 0 auto;
        margin-top: 120px;
        margin-bottom: 92px;
    }
    &__header {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    &__buttons-slider {
        position: absolute;
        right: 0;
        transform: translateX(calc(100% - 80px));
        top: 31px;
    }
    &__container {
        position: relative;
    }
}

