@media (max-width: 576px)
    .container
        padding: 0 10px
    .header
        &__block
            justify-content: center
            flex-wrap: wrap
            gap: 25px
        &__menu
            gap: 25px
    .promo
        &__title
            font-size: 40px
            &-color
                text-align: center
                font-size: 25px
                margin-top: 15px
        &__image
            img
                width: 100%
    .sex
        margin-top: 45px
        &__items
            gap: 25px
    .order
        &__block
            width: 100%
            height: auto
        &__title
            font-size: 20px
        &__descr
            font-size: 14px
            width: 100%
        &__form
            flex-wrap: wrap
            gap: 15px