.buy {
    margin-top: 10px;
    &__wrapper {
        padding: 0 19px;
    }
    &__descr {
        margin-top: 22px;
        max-width: 322px;
        color: white;
        font-size: 11px;
        font-weight: 600;
        word-wrap: break-word;
    }
}