.card-special-offer {
    height: 96px;
    background: white;
    border-radius: 14px;
    padding: 16px;
    position: relative;
    &__descr {
        width: 200px;
		color: black;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		word-wrap: break-word;
    }
    &__button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        border: none;
        background: none;
        color: #007AFF;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		word-wrap: break-word;
        padding: 0;
        margin-top: 2px;
        z-index: 2;
    }
    &__image {
        position: absolute;
        width: 140px;
        height: 150px;
        top: 0px;
        right: 0px;
        &-wrapper {
            position: absolute;
            width: calc(100% + 5px);
            height: calc(100% + 24px);
            top: -12px;
            left: 0;
            overflow: hidden;
            z-index: 0;
        }
    }
}