.gem {
    margin-bottom: 20px;
    &_item {
        margin-bottom: 1px;
    }
    &__wrapper {
        width: 100%;
    }
    &__cover {
        position: relative;
        width: 100%;
        height: auto;
        padding: 0;
        overflow: hidden;
    }
    &__background {
        position: absolute;
        width: 100%;
        height: calc(100% - 4px);
        max-height: 270px;
        overflow: hidden;
        &-image {
            width: 100%;
            height: auto;
            overflow: hidden;
            img {
                border-radius: 3px;
                width: 100%;
                height: auto;
                max-height: 270px;
            }
        }
    }
    &__image {
        position: absolute;
        &_girl {
            left: -40px;
            bottom: -62px;
            width: 219px;
            height: 233px;
            &-item-page {
                left: -22px;
                bottom: -20px;
            }
        }
        &_poco {
            left: 20px;
            bottom: 0px;
            transform: rotate(23.43deg);
            transform-origin: 0 0;
            width: 195px;
            height: 220px;
        }
    }
    &__total-sum {
        position: absolute;
        bottom: 35px;
        right: 30px;
        color: white;
        font-size: 39px;
        font-family: Lilita One;
        font-weight: 400;
        word-wrap: break-word;
        &_item-page {
            bottom: none;
            right: 18px;
            top: 7px;
            font-size: 46px;
        }
    }
    &__title {
        color: white;
        font-size: 20px;
        font-family: Lilita One;
        font-weight: 400;
        word-wrap: break-word;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 15px;
        &-col {
            &:nth-child(2) {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
            }
        }
    }
    &__stars {
        margin-top: 3px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
    }
    &__price {
        color: #F0F442;
        font-size: 18px;
        font-family: Lilita One;
        font-weight: 400;
        word-wrap: break-word;
        span {
            font-family: Inter;
            font-weight: 900;
        }
        &-promo {
            font-size: 16px;
            position: relative;
            color: rgba(240, 244, 66, 0.79);
        }
        &-line {
            position: absolute;
            top: 10px;
            left: 0px;
            width: 100%;
            height: 2px;
            background: #F0F442;
            border-radius: 8px; 
        }
    }
}