.page-picture {
    position: relative;
    width: fit-content;
    height: auto;
    &__image {
        position: relative;
        z-index: 5;
        width: 156px;
        height: 214px;
        img {
            width: 100%;
        }
    }
    &__light {
        position: absolute;
        top: 0px;
        left: 20px;
        margin: 0 auto;
        width: 120px;
        height: 210px;
        background: #CC00FF;
        box-shadow: 200.8px 200.8px 200.8px;
        border-radius: 62px;
        filter: blur(65.8px);
        z-index: 1;
    }
}
