.service {
    margin-bottom: 37px;
    margin-top: 30px;
    &__wrapper {
        padding: 0 17px;
    }
    &__agreements {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }
    &__agreement, &__company {
        color: #B6B6B6;
        font-size: 10px;
        font-weight: 600;
        word-wrap: break-word;
        text-decoration: none;
    }
    &__company {
        margin-top: 24px;
        font-weight: 500;
    }
}