.service {
    margin-bottom: 22px;
    margin-top: 30px;
    justify-self: flex-end;
    &__wrapper {
        padding: 0 17px;
    }
    &__agreements {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
    }
    &__agreement, &__company {
        color: #676767;
        font-size: 10px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
        text-decoration: none;
    }
    &__company {
        margin-top: 20px;
        font-weight: 500;
    }
}