.successful {
    margin-top: 20px;
    &__page-picture {
        margin: 0 auto;
        margin-top: 36px;
    }
    &__wrapper {
        padding: 0 19px 20px 19px;
    }
    &__title {
        color: white;
        font-size: 16px;
        font-weight: 900;
        word-wrap: break-word;
        text-align: center;
        position: relative;
        z-index: 5;
    }
    &__subtitle {
        margin: 0 auto;
        margin-top: 23px;
        max-width: 259px;
        text-align: center; 
        color: white;
        font-size: 12px;
        word-wrap: break-word;
        position: relative;
        z-index: 5;
        span {
            font-weight: 900;
        }
    }
    &__buttons {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        position: relative;
        z-index: 5;
    }
    &__service-text {
        margin-top: 23px;
        width: 100%;
        color: white;
        font-size: 11px;
        font-weight: 400;
        word-wrap: break-word;
    }
}