@media (min-width: 320px) and (max-width: 380px)
    .background
        &__up-block
            display: none
        &__low-rectangle-small
            bottom: 0%

    .title
        font-size: 24px
        &-2
            font-size: 26px
    .soldier
        width: 400px
        height: 420px
        bottom: 0
        left: 10%
    .big__title
        font-size: 28px
        &-install
            font-size: 24px
    .big__label
        &-pink
            font-size: 28px
        &-yellow
            font-size: 18px
    .iphone
        width: 360px
        height: 420px
        bottom: 220px
        left: 5%
    .three-cases
        &__text
            font-size: 20px
        img
            right: 15px
    .button__small
        width: 40%
    .form-prize
        &__button
            width: 70px
        &__input
            input
                padding: 0 80px 0 10px
    .sub-competition
        width: 100%
        &__text
            font-size: 16px
    .results__text
        font-size: 14px

@media (min-width: 381px) and (max-width: 420px)
    .background
        &__up-block
            display: none
        &__low-rectangle-small
            bottom: 0%
    .big__title
        font-size: 32px

@media (max-width: 384px)
    .prize
        img
            transform: translateX(-50%)

@media (max-height: 500px)
    .main
        margin-top: 0px
    .button
        &-big
            bottom: 10px
            &-install
                bottom: 60px
    .soldier
        width: 320px
        height: 325.625px
        bottom: 0
        left: 30%
    .background
        &__low-block
            height: 40px
            &-static
                height: 80px
            &-shadow
                height: 277px
        &__image-fire
            bottom: -10%
            left: -40%
        &__image-pink
            height: 1000px
        &__low-rectangle
            &-small
                img
                    max-height: 128px
    .places
        &__underline
            top: 28px
            right: 20px
    
    .title
        font-size: 17px
        &-2
            font-size: 17px
    .subtitle
        font-size: 16px
    .place-1, .place-2, .place-3
        font-size: 25px
    .place-4, .place-5
        font-size: 23px
    .place-6, .place-7
        font-size: 21px
    .place-8
        font-size: 18px
    .buttons
        &__install
            bottom: 40px
    .iphone
        width: 360px
        height: 480px
        bottom: 40px
        right: 0
    .telegram-icon
        display: none
    .golden-men
        display: none
    .descr
        margin-top: 10px
    .invite-friends
        margin-top: 20px
    .big__title-invite
        font-size: 24px
    .text__promo
        font-size: 20px
        &-invite
            font-size: 22px
    .friends-counter
        margin-top: 10px
    .increase-chance
        margin-top: 10px

@media (min-height: 501px) and (max-height: 640px)
    .main
        margin-top: 0px
    .button
        &-big
            bottom: 20px
    .soldier
        width: 320px
        height: 325.625px
        bottom: 0
        left: 30%
    .background
        &__low-block
            height: 40px
            &-shadow
                height: 270px
        &__image-fire
            bottom: -10%
            left: -30%
        &__image-pink
            height: 1000px
        &__low-rectangle
            &-small
                img
                    max-height: 128px
        &__up-block
            &-none
                display: none
    .title
        font-size: 20px
        &-2
            font-size: 20px
    .subtitle
        font-size: 16px
    .buttons
        &__install
            bottom: 20px
    .telegram-icon
        &-first
            top: 130px
            left: 250px
    .iphone
        width: 360px
        height: 480px
        bottom: 80px
        right: 0
    .golden-men
        bottom: 60px
        width: 280px
        height: 280px
    .invite-friends
        margin-top: 50px
    .text__promo
        font-size: 20px
        &-invite
            font-size: 22px
    .friends-counter
        margin-top: 20px
    .increase-chance
        margin-top: 20px
    .friends-counter
        font-size: 16px

@media (min-height: 501px) and (max-height: 540px)
    .golden-men
            width: 260px
            height: 260px
    .invite-friends
        margin-top: 10px
    .friends-counter
        margin-top: 10px
    .increase-chance
        margin-top: 10px

@media (min-height: 641px) and (max-height: 800px)
    .main
        margin-top: 40px
    .background
        &__up-block
            display: none

        &__image-fire
            bottom: -10%
            left: -30%

    .title
        font-size: 24px
        &-2
            font-size: 26px
    .soldier
        width: 400px
        height: 420px
        bottom: 0
        left: 10%
    .buttons
        &__install
            bottom: 40px
    .button
        &-big-install
            bottom: 30px
    .telegram-icon
        &-first
            top: 180px
            left: 250px
    .golden-men
        bottom: 80px
        width: 350px
        height: 350px
    .invite-friends
        margin-top: 120px
    .form-invite
        margin-top: 30px


@media (min-height: 801px) and (max-height: 900px)
    .main
        margin-top: 40px
    .background
        &__up-block
            display: none

    .title
        font-size: 24px
        &-2
            font-size: 26px
    .soldier
        width: 400px
        height: 420px
        bottom: 0
        left: 10%
    .telegram-icon
        &-first
            top: 180px
            left: 250px
    .form-invite
        margin-top: 30px