@media (min-width: 1200px) and (max-width: 1439px) {
    .footer {
        &__high-elem {
            justify-content: flex-end;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .footer {
        &__high-elem {
            justify-content: flex-end;
        }
        &__info {
            height: auto;
        }
        &__block-title {
            white-space: wrap;
        }
        &__links {
            margin-top: 140px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer {
        &__high-elem {
            justify-content: flex-end;
            flex-wrap: wrap;
            width: 80%;
        }
        &__info {
            height: auto;
        }
        &__block-title {
            white-space: wrap;
        }
        &__rights {
            width: 400px;
            text-align: right;
        }
        &__links {
            margin-top: 90px;
            flex-wrap: wrap;
            row-gap: 40px;
            column-gap: 40px;
            justify-content: flex-start;
        }

    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .footer {
        &__high-elem {
            width: 100%;
            margin: 0;
            padding-top: 540px;
            justify-content: flex-start;
        }
        &__info {
            height: auto;
            top: -150px;
        }
        &__block-title {
            white-space: wrap;
        }
        &__links {
            margin-top: 50px;
            flex-wrap: wrap;
            row-gap: 40px;
            column-gap: 40px;
            justify-content: flex-start;
        }

    }
}

@media (max-width: 576px) {
    .footer {
        &__high-elem {
            width: 100%;
            margin: 0;
            padding-top: 540px;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        &__info {
            height: auto;
            top: -150px;
            padding: 20px 20px 30px 30px;
            width: auto;
        }
        &__block-title {
            white-space: wrap;
        }
        &__info-div {
            width: auto;
        }
        &__links {
            margin-top: 50px;
            flex-wrap: wrap;
            row-gap: 40px;
            column-gap: 40px;
            justify-content: flex-start;
        }

    }
}