@media (min-width: 992px) and (max-width: 1199px) {
    .rewards {
        margin-top: 70px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .rewards {
        margin-top: 70px;
        &__item {
            height: auto;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .rewards {
        margin-top: 70px;
        &__item {
            height: auto;
        }
    }
}

@media (max-width: 575px) {
    .rewards {
        margin-top: 70px;
        &__item {
            height: auto;
        }
        &__list {
            margin: 0;
            flex-wrap: wrap;
            row-gap: 20px;
        }
    }
}