
@media (min-width: 576px) and (max-width: 767px) {
    .works {
        &__buttons-slider {
            right: auto;
            left: 50%;
            transform: translateX(-50%);
            top: 90px;
        }
    }
}

@media (max-width: 575px) {
    .works {
        &__buttons-slider {
            right: auto;
            left: 50%;
            transform: translateX(-50%);
            top: 90px;
        }
        &__background {
            padding: 0;
            width: 1900px;
        }
        &__item {
            position: relative;
            width: 320px;
            height: 246px;
        }
    }
}