* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}


button {
    cursor: pointer;
}

.popup {
    display: none;
    &.active {
        display: block;
    }
}

h1, h2, p {
    margin: 0;
}

.grid-container { 
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 60px); /* 12 колонок по 60px */
    gap: 50px; /* промежуток между колонками */
    padding: 20px; /* отступ от края контейнера */
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
}
.column {
    background: rgba(0, 150, 136, 0.3); /* Полупрозрачный цвет фона */
    border: 1px solid rgba(0, 150, 136, 0.5); /* Полупрозрачная граница */
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: #000;
    height: 100%; /* высота для визуализации */
}

.row-div {
    width: 100%;
    height: 50px;
    background-color: red;
}

span {
    height: 1.54px;
    width: 9.75px;
    background: white;
    border-radius: 15px;
}

.span_long {
    width: 18px;
}

@font-face {
    font-family: 'Farrah';
    src: url('../fonts/Farrah-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'CeraRoundPro';
    src: url('../fonts/CeraRoundPro.ttf') format('truetype');
}

.container-columns {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 50px;
    padding: 10px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.col-columns {
    background-color: rgba(255, 193, 154, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
    height: 100vh;
}

@import 'fonts';
@import 'bootstrap';
@import 'blocks/headerTop';
@import 'blocks/logo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/mainBanner';
@import 'blocks/advantages';
@import 'blocks/discountBanner';
@import 'blocks/services';
@import 'blocks/beTop';
@import 'blocks/howWork';
@import 'blocks/containerFullBanner';
@import 'blocks/listPoint';
@import 'blocks/usualList';
@import 'blocks/application';
@import 'blocks/paymentDelivery';
@import 'blocks/darkBanner';
@import 'blocks/works';
@import 'blocks/blockTitle';
@import 'blocks/details';
@import 'blocks/areas';
@import 'blocks/blockDescr';
@import 'blocks/reviews';
@import 'blocks/rewards';
@import 'blocks/footer';
@import 'blocks/map';
@import 'blocks/servicesCard';
@import 'blocks/triangle';
@import 'blocks/servicesList';
@import 'blocks/pageName';
@import 'blocks/serviceOne';
@import 'blocks/photoCard';
@import 'blocks/prices';
@import 'blocks/pointsBlock';
@import 'blocks/pricesTable';
@import 'blocks/contacts';
@import 'blocks/aboutUs';
@import 'blocks/usAdvantages';
@import 'blocks/weOffer';
@import 'blocks/qualityPrint';
@import 'blocks/deliveryInfo';
@import 'media/blocks/headerTop';
@import 'media/blocks/header';
@import 'media/blocks/mainBlock';
@import 'media/blocks/advantages';
@import 'media/blocks/discountBanner';
@import 'media/blocks/darkBanner';
@import 'media/blocks/services';
@import 'media/blocks/beTop';
@import 'media/blocks/blockTitle';
@import 'media/blocks/howWork';
@import 'media/blocks/containerFullBanner';
@import 'media/blocks/usualList';
@import 'media/blocks/application';
@import 'media/blocks/paymentDelivery';
@import 'media/blocks/works';
@import 'media/blocks/details';
@import 'media/blocks/areas';
@import 'media/blocks/reviews';
@import 'media/blocks/rewards';
@import 'media/blocks/footer';
@import 'media/blocks/triangle';
@import 'media/blocks/logo';
@import 'media/blocks/buttons';
@import 'media/blocks/map';
@import 'media/blocks/servicesCard';
@import 'media/blocks/servicesList';
@import 'media/blocks/serviceOne';
@import 'media/blocks/photoCard';
@import 'media/blocks/pricesTable';
@import 'media/blocks/pointsBlock';
@import 'media/media';