* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}


button {
    cursor: pointer;
}

.grid-container { 
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 60px); /* 12 колонок по 60px */
    gap: 50px; /* промежуток между колонками */
    padding: 20px; /* отступ от края контейнера */
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
}
.column {
    background: rgba(0, 150, 136, 0.3); /* Полупрозрачный цвет фона */
    border: 1px solid rgba(0, 150, 136, 0.5); /* Полупрозрачная граница */
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: #000;
    height: 100%; /* высота для визуализации */
}

.row-div {
    width: 100%;
    height: 50px;
    background-color: red;
}

@font-face {
    font-family: 'Farrah';
    src: url('fonts/Farrah-Bold.otf') format('opentype');
}


@import 'fonts';
@import 'bootstrap';
@import 'blocks/headerTop';
@import 'blocks/logo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/mainBanner';
@import 'blocks/advantages';
@import 'blocks/discountBanner';
@import 'blocks/services';
@import 'blocks/beTop';
@import 'blocks/howWork';
@import 'blocks/containerFullBanner';
@import 'blocks/listPoint';
@import 'blocks/usualList';
@import 'blocks/application';
@import 'blocks/paymentDelivery';
@import 'blocks/darkBanner';
@import 'blocks/works';
@import 'blocks/blockTitle';
@import 'blocks/details';
@import 'blocks/areas';
@import 'blocks/blockDescr';
@import 'blocks/reviews';
@import 'blocks/rewards';
@import 'blocks/footer';
@import 'blocks/map';
@import 'blocks/triangle';
@import 'media/blocks/headerTop';
@import 'media/blocks/header';
@import 'media/blocks/mainBlock';
@import 'media/blocks/advantages';
@import 'media/blocks/discountBanner';
@import 'media/blocks/darkBanner';
@import 'media/blocks/services';
@import 'media/blocks/beTop';
@import 'media/blocks/blockTitle';
@import 'media/blocks/howWork';
@import 'media/blocks/containerFullBanner';
@import 'media/blocks/usualList';
@import 'media/blocks/application';
@import 'media/blocks/paymentDelivery';
@import 'media/blocks/works';
@import 'media/blocks/details';
@import 'media/blocks/areas';
@import 'media/blocks/reviews';
@import 'media/blocks/rewards';
@import 'media/blocks/footer';
@import 'media/blocks/triangle';
@import 'media/media';