* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

.grid-container { 
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 60px); /* 12 колонок по 60px */
    gap: 30px; /* промежуток между колонками */
    padding: 20px; /* отступ от края контейнера */
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
}
.column {
    background: rgba(0, 150, 136, 0.3); /* Полупрозрачный цвет фона */
    border: 1px solid rgba(0, 150, 136, 0.5); /* Полупрозрачная граница */
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: #000;
    height: 100%; /* высота для визуализации */
}

@font-face {
    font-family: 'FarrahBold';
    src: url('fonts/Farrah-Bold.otf') format('opentype');
}

@import 'fonts';
@import 'bootstrap';
@import 'blocks/headerTop';
@import 'blocks/logo';
@import 'blocks/header';
@import 'blocks/buttons';