.share-article {
    margin-top: 60px;
    &__wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 53px;
    }
    &__text {
        color: white;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.90px;
        word-wrap: break-word;
    }
}