@media (min-width: 1200px) and (max-width: 1439px) {
    .partners {
        &__list {
            display: grid;
            grid-template-columns: repeat(4, auto);
        }
        &__item {
            width: 260px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .partners {
        &__list {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            row-gap: 40px;
            justify-content: space-around;
        }
        &__item {
            width: 300px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .partners {
        &__list {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            row-gap: 40px;
            justify-content: space-around;
        }
        &__item {
            width: 300px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .partners {
        &__list {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            row-gap: 40px;
            justify-content: space-around;
        }
        &__item {
            width: 240px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

@media (max-width: 575px) {
    .partners {
        &__list {
            display: grid;
            grid-template-columns: repeat(1, auto);
            grid-template-rows: repeat(4, auto);
            row-gap: 40px;
            justify-content: space-around;
        }
        &__item {
            width: 250px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
}