
@media (min-width: 1200px) and (max-width: 1439px) {
    .question-button {
        width: 320px;
        &__text {
            text-align: left;
        }
    }
}


@media (max-width: 575px) {
    .question-button {
        &__text {
            text-align: left;
        }
    }
}