.modal
    &__window
        &-auth
            top: 100px
            background-color: #121524
            height: 538px
            &-block
                display: flex
                height: 100%

    &-auth
        &__title
            margin-top: 35px
            margin-left: 30px
            width: 245px
            color: white
            font-size: 34px
            font-weight: 700
        &__subtitle
            margin-top: 19px
            margin-left: 30px
            width: 177px
            color: #fff
            font-size: 14px
            font-weight: 600
        &__main
            &-block
                width: 383px
                height: 100%
                padding: 44px 41px
            &-header
                display: flex
                justify-content: space-between
                align-items: center
            &-title
                color: white
                font-size: 24px
                font-weight: 700

        &__back
            &-light
                position: absolute
                width: 100%
                top: 0
                left: 0
                z-index: -1
            &-dark
                position: absolute
                width: 100%
                z-index: -1
                top: 0
                left: 0
            &-girl
                position: absolute
                z-index: 4
                bottom: -12px
                left: -70px
                width: 367px
                // transform: scale(-1, 1)
            &-circles
                position: absolute
                bottom: 0
                left: 0
                transform: translateX(-25%) translateY(25%)
                z-index: 4
                width: 600px
            &-drop
                position: absolute
                width: 200px
                // transform: rotate(-29.72deg)
                top: -50px
                right: -75px
                z-index: 5
            &-galactic
                position: absolute
                z-index: 6
                bottom: -134px
                left: -250px
                width: 582px
                mix-blend-mode: color-dodge
        &__title
            &-wrapper
                position: relative
                width: 301px
                overflow: hidden
        &__divider
            margin-top: 36px
            width: 100%
            height: 1px
            background: #1A1D2C
            border-radius: 7px
        &__login
            margin-top: 76px
            &-title
                color: #fff
                font-size: 16px
                font-weight: 600
                text-align: center
            &-icons
                display: flex
                justify-content: center
                align-items: center
                gap: 9px
                margin-top: 21px
            &-icon
                width: 48px
                height: 48px
                border-radius: 8px
                border: 1px #1A1D2E solid
                background: #212537
                display: flex
                justify-content: center
                align-items: center
                &-active
                    background: #2B59FF
                    box-shadow: 0px 0px 13.699999809265137px rgba(43, 86, 232, 0.39)
        &__agreements
            margin-top: 130px
        &__agreement
            display: flex
            justify-content: flex-start
            align-items: center
            gap: 10px
            margin-bottom: 13px
        &__checkbox
            width: 20px
            height: 20px
            background: #212537
            border-radius: 4px
            display: flex
            justify-content: center
            align-items: center
                
            &-active
                background: #2B59FF
            &-title
                width: 283px
                color: #9598AC
                font-size: 12px
                font-weight: 500
                span
                    color: #2B59FF


        
