.balance
    &__block
        height: auto
        width: 100%
        border: 2px rgb(46, 46, 46, 0.2) solid
        border-radius: 36px
        padding: 0 30px 28px 86px
        margin-top: 78px
        position: relative
    &__title
        text-align: center
        transform: translateY(-60%)
        color: #fff
        font-size: 38px
        font-weight: 700
    &__divider
        width: 1px
        height: 396px
        background: linear-gradient(180deg, rgba(43, 89, 255, 0) 0%, #2B59FF 50%, rgba(43, 89, 255, 0) 100%)
        border-radius: 3px
    &__descr
        margin-top: 22px
        width: 100%
        color: #8B95AD
        font-size: 12px
        font-weight: 300
    &__main
        display: flex
        justify-content: center
        align-items: flex-start
        gap: 21px
        margin-top: 60px
    &__pay
        &-ways
            width: auto
            height: auto
        &-items
            display: grid
            grid-template-columns: repeat(4, 146px)
            justify-content: flex-start
            align-items: flex-start
            gap: 10px
        &-item
            width: 146px
            height: 110px
            background: #121524
            border-radius: 10px
            position: relative
            display: flex
            justify-content: center
            align-items: center
            &-selector
                position: absolute
                bottom: 10px
                left: 10px
                width: 14px
                height: 14px
                border-radius: 3px
                border: 1px rgba(43, 89, 255, 0.41) solid
                img
                    position: absolute
                    left: -1px
                    bottom: -2px
            &-active
                border: 1px #2B59FF solid
    &__payment
        width: 100%
        display: flex
        flex-direction: column
        gap: 20px
    &__checkbox
        display: flex
        justify-content: flex-start
        align-items: center
        gap: 10px
        margin-top: 20px
        &-selector-wrapper
            background: #0B0D19
    &__input-block
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        height: auto
        border-radius: 20px
        margin: 0 auto
    &__input
        width: 100%
        position: relative
        display: block
        &-field
            padding: 23px 5px 23px 22px
            width: 100%
            height: auto
            background: #0B0D19
            border: none
            border-top-left-radius: 20px
            border-bottom-left-radius: 20px
            color: #fff
            font-size: 14px
            font-weight: 400
            display: block
            &::placeholder
                color: #8B95AD
                font-size: 14px
                font-weight: 400
            &-sum
                padding-left: 50px
        img
            position: absolute
            top: 21px
            left: 21px
        &-button
            display: flex
            justify-content: center
            align-items: center
            min-width: 197px
            height: 63px
            background: #2B56E8
            box-shadow: 0px 0px 13.899999618530273px rgba(43, 86, 232, 0.60)
            border-top-right-radius: 20px
            border-bottom-right-radius: 20px
            border: none
            gap: 20px
            cursor: pointer
            &-text
                color: #fff
                font-size: 12px
                font-weight: 700
                text-transform: uppercase

.payment-block
    width: 100%
    height: auto
    background: #151829
    border-radius: 10px
    padding: 30px
    &__min-sum, &__total-sum
        color: #8B95AD
        font-size: 12px
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 20px
        span
            color: #fff
            font-weight: 900
    &__total-sum
        margin-top: 20px
    &__checkbox-text
        color: #8B95AD
        font-size: 10px
        font-weight: 500
        span
            color: #2B59FF
            font-weight: 700
            text-decoration: underline



