.cards
    margin-top: 25px
    margin-bottom: 150px
    &-promo
        margin-bottom: 95px
    &__items
        display: flex
        justify-content: center
        align-items: center
        gap: 20px
    &__item
        position: relative
        height: 274px
        width: 224px
        background: linear-gradient(147deg, #191B2A 0%, #0D0F1B 100%)
        box-shadow: 0px 2px 6.900000095367432px rgba(11.40, 13.71, 27.63, 0.43)
        border-radius: 20px
        overflow: hidden
        &-title
            width: 135px
            color: #606980
            font-size: 18px
            font-weight: 500
            margin-left: 25px
            margin-top: 25px
            font-family: Inter
        &-img
            padding: 0 9px
            margin-top: 20px
            width: 100%
        &-light
            position: absolute
            top: -19px
            left: -10px
            width: 80px
            height: 80px
            background: #D9D9D9
            box-shadow: 200px 200px 200px
            border-radius: 100%
            filter: blur(100px)

        