.case-item
        position: relative
        width: 122px
        height: 127px
        background-image: url('../img/upgrade/images/back-card.png')
        background-size: cover
        box-shadow: 0px 4px 4px rgba(20.01, 22.63, 35.06, 0.25)
        border-radius: 11px
        overflow: hidden
        &-spinner, &-account, &-inside
            width: 193px
        &-spinner
            height: 146px
        &-inside
            height: 171px
        &-account
            height: 219px
        &-label
            position: absolute
            width: 22px
            height: 17px
            background: linear-gradient(90deg, #FFA800 0%, #FF6B00 100%)
            border-radius: 3px
            left: 11px
            top: 9px
            display: block
            color: #1A1E31
            font-size: 8px
            font-weight: 900
            line-height: 17px
            text-align: center
            &-right
                right: 18px
                top: 12px
            &-inside
                left: 15px
                top: 15px
            &-account
                left: 15px
                top: 11px
            &-final
                width: 12.33px
                height: 9.53px
                font-size: 6px
                line-height: 9px
                position: static
                margin-top: 90px
        &-photo
            position: absolute
            top: 9px
            width: 100%
            &-spinner
                left: 50%
                transform: translateX(-50%)
                top: 35px
                width: 115%
            &-inside
                display: block
                left: 50%
                transform: translateX(-50%)
                top: 30px
                width: 150%
                &-akr, &-awm, &-p350
                    top: 45px
                    width: 100%
                &-kurki
                    top: 35px
                    width: 100%
                &-p350
                    top: 30px
                    width: 120%
            &-account
                display: block
                left: 50%
                transform: translateX(-50%)
                top: 40px
                width: 100%
            &-contract
                top: 50px

        &-price
            position: absolute
            top: 13px
            right: 13px
            color: #FBA139
            font-size: 11px
            font-weight: 700
            &-account
                color: #FFD600
                top: 14px
                right: 17px
            &-final
                color: #FFA800
                font-size: 16px
                font-weight: 700
                position: static
                text-align: center
                margin-top: 78px

        &-name
            margin-top: 90px
            color: #8B95AD
            font-size: 11px
            font-weight: 700
            text-align: center
            &-spinner, &-inside
                font-size: 12px
                margin-top: 19px
            &-account
                margin-top: 27px
            &-final
                font-size: 12px
                margin-top: 90px

        &-rarity
            margin-top: 3px
            color: #fff
            font-size: 10px
            font-weight: 700
            text-align: center
            &-spinner, &-inside, &-account
                font-size: 14px
                margin-top: 0
            &-final
                font-size: 14px

        &-light
            width: 80px
            height: 2px
            background: #E42738
            // box-shadow: 0px 0px 44px 11px rgba(228, 39, 56, 0.47)
            border-radius: 13px
            position: absolute
            left: 50%
            transform: translateX(-50%)
            bottom: 0
            &-purple
                box-shadow: 0px 0px 44px 11px rgba(129, 32, 239, 0.8)
                background: #8120EF
            &-red
                box-shadow: 0px 0px 44px 11px rgba(228, 39, 56, 0.47)
                background: #E42738
            &-pink
                box-shadow: 0px 0px 44px 11px rgba(241, 64, 175, 0.47)
                background: #F140AF
            &-blue
                box-shadow: 0px 0px 44px 11px rgba(48, 96, 255, 0.47)
                background: #3060FF
            &-yellow
                background: #FFA800
                box-shadow: 0px 0px 44px 11px rgba(255, 168.30, 0, 0.30)
        
        &-buttons
            display: flex
            justify-content: center
            align-items: center
            gap: 9px
            position: absolute
            left: 50%
            transform: translateX(-50%) 
            bottom: 16px
        &-button
            padding: 8px 13px
            border-radius: 7px
            color: #fff
            font-size: 9px
            font-weight: 700
            border: none
            &-sell
                background: #ff323a
            &-buy
                background: #3060FF
            &-wait, &-sold, &-done
                display: flex
                justify-content: center
                align-items: center
                gap: 4px
            &-wait
                background: #FF922A
            &-done
                background: #00932F
            &-sold
                background: #FF323A