.case
    &-final
        &__list
            display: flex
            justify-content: center
            align-items: center
        &__item
            width: 310px
            height: 310px
            margin: 0 -20px
            &-card
                background-image: url('../img/case/weapon-circle-purple.svg')
                background-size: cover
                position: relative
                width: 100%
                height: 100%
            &-skin
                width: 100%
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -48%)
            &-sell-button
                width: 96px
                height: 30px
                background: linear-gradient(180deg, #FFA800 0%, #FF8A00 100%)
                border-radius: 5px
                border: none
                color: #0D0F19
                font-size: 10px
                font-weight: 900
                text-transform: uppercase
                margin: 0 auto
                display: block
                margin-top: -25px


        &__label-flex
            display: flex
            justify-content: center
            align-items: center
            gap: 4px