.change-language
    margin-right: 30px
    display: flex
    justify-content: center
    align-items: center
    width: 86px
    height: 41px
    background: #181B2D
    border-radius: 7px
    &__flag
        width: 20px
        height: 20px
        margin-right: 12px
    &__name
        margin-right: 6px
        color: #8B95AD
        font-size: 12px
        font-weight: 600