.modal
    &__window
        &-error
            &-withdraw
                position: relative
                width: 684px
                height: 414px
                border-radius: 17px
                top: 100px
                background-color: #121524
                overflow: hidden
    &-error
        &__close
            position: absolute
            top: 47px
            right: 41px
        &-withdraw
            &__light
                position: absolute
                width: 870px
                height: 155px
                background: #137FFF
                box-shadow: 188.39999389648438px 188.39999389648438px 188.39999389648438px
                filter: blur(108.40px)
                bottom: -141px
                left: -88px
                z-index: -1
            &__title
                color: #fff
                font-size: 32px
                font-weight: 700
                text-transform: uppercase
                margin-top: 79px
                text-align: center
            &__subtitle
                color: #fff
                font-size: 18px
                font-weight: 500
                margin-top: 30px
                text-align: center
                span
                    color: #FFA800
            &__img
                display: block
                margin: 0 auto
                margin-top: 41px