.every-day-challenge
    position: relative
    width: 396px
    height: 279px
    background: #111730
    border-radius: 37px
    overflow: hidden
    padding: 23px
    &__light
        width: 192px
        height: 192px
        position: absolute
        background: #2E4894
        box-shadow: 127.0999984741211px 127.0999984741211px 127.0999984741211px
        border-radius: 45px
        filter: blur(54px)
        bottom: -76px
        right: 34px
    &__picture
        position: absolute
        width: 300px
        height: 280px
        bottom: -120px
        right: -100px
        z-index: 1
        img
            position: relative
            width: 100%
            transform: rotate(-30deg)
            z-index: 4
    &__names
        width: 100%
        display: grid
        grid-template-columns: 56px 56px auto
        padding-left: 12px
        &:nth-child(1)
            justify-self: start
        &:nth-child(2)
            justify-self: start
        &:nth-child(3)
            justify-self: end
            margin-right: 45px
    &__name
        color: rgba(255, 255, 255, 0.30)
        font-size: 10px
        font-weight: 500
    &__row
        margin-top: 6px
        width: 100%
        min-height: 46px
        background: linear-gradient(270deg, #242643 0%, #222638 100%)
        border-radius: 14px
        position: relative
        display: grid
        grid-template-columns: 27px 158px auto
        align-items: center
        padding-right: 27px
        padding-left: 16px
        overflow: hidden
        &-light
            position: absolute
            width: 38px
            height: 25px
            background: rgba(49, 226, 106, 0.68)
            box-shadow: 55px 55px 55px
            border-radius: 100%
            filter: blur(25px)
            left: 0
            top: -5px
            overflow: hidden
        &-number
            color: rgba(255, 255, 255, 0.20)
            font-size: 24px
            font-weight: 600
            text-transform: uppercase
            margin-right: 27px
            justify-self: start
            &_green
                color: #31E26A
        &-descr
            color: rgba(255, 255, 255, 0.50)
            font-size: 12px
            font-weight: 500
            margin-left: 27px
            justify-self: start
        &-status
            width: 64px
            height: 27px
            background: rgba(49, 226, 106, 0.08)
            border-radius: 4px
            color: rgba(49, 226, 106, 0.46)
            font-size: 10px
            font-weight: 600
            line-height: 27px
            text-align: center
            position: relative
            z-index: 5
            justify-self: end
            &_green
                background: #2ba35c
                color: #fff
    &__title
        margin-top: 14px
        width: 211px
        color: #fff
        font-size: 24px
        font-weight: 700
        position: relative
        z-index: 5

