.footer
    margin-top: 90px
    overflow: hidden
    position: relative
    &__logo
        margin-right: 26px
    &__background
        &-big
            width: 1300px
            position: absolute
            z-index: -1
            transform: rotate(-150.33deg)
            bottom: -300px
            left: -200px
            opacity: 0.50
            mix-blend-mode: color-dodge
        &-small
            width: 1130px
            position: absolute
            z-index: -1
            bottom: -100px
            right: -135px
            opacity: 0.50
            mix-blend-mode: color-dodge
        &-circle
            &-left
                width: 136px
                height: 136px
                background: #0057FF
                box-shadow: 400px 400px 400px
                border-radius: 100%
                filter: blur(120px)
                left: 0
                bottom: -60px
                position: absolute
                z-index: 1
            &-right
                width: 576px
                height: 770px
                background: #0057FF
                box-shadow: 400px 400px 400px
                border-radius: 100%
                filter: blur(160px)
                bottom: -770px
                right: -188px
                position: absolute
                z-index: -2

    &__block
        display: flex
        justify-content: space-between
        align-items: flex-end
        min-height: 400px
        width: 100%
        position: relative
        &-right
            position: relative
            width: 400px
            height: 100%
        &-left
            max-width: 1000px
            margin-bottom: 43px
    
    &__images
        position: relative
        height: 400px
    &__girl
        width: 350px
        position: absolute
        bottom: 0
        right: 90px
    &__boy
        width: 500px
        position: absolute
        bottom: -220px
        right: -190px
    &__social-media
        position: absolute
        bottom: 20px
        right: -50px
        display: flex
        justify-content: center
        align-items: center
        gap: 20px
        &-items
            display: flex
            justify-content: flex-end
            align-items: center
            gap: 10px
        &-text
            color: rgba(255, 255, 255, 0.50)
            font-size: 12px
            font-weight: 500
        &-item
            width: 27px
            height: 27px
            background: rgba(217, 217, 217, 0.24)
            border-radius: 5px
            border: 1px rgba(255, 255, 255, 0.30) solid
            display: flex
            justify-content: center
            align-items: center
    &__main-info
        display: flex
        justify-content: flex-start
        align-items: center
    &__since
        color: #3F435A
        font-size: 12px
        font-weight: 700
    &__statistic
        margin-top: 50px
        &-list
            display: flex
            justify-content: flex-start
            align-items: center
            gap: 50px
            flex-wrap: wrap
        &-item
            display: flex
            justify-content: center
            align-items: flex-end
            gap: 15px
        &-icon
            position: relative
            &-key
                transform: translateY(15px)
        &-light
            position: absolute
            width: 20px
            height: 20px
            background: #002AC0
            box-shadow: 10px 10px 10px
            border-radius: 100%
            filter: blur(10px)
            top: 5px
            left: 10px
            &-key
                top: 50%
                left: 50%
        &-name
            color: #2C3041
            font-size: 14px
            font-weight: 700
        &-counter
            color: #fff
            font-size: 26px
            font-weight: 800
    &__technical
        &-cooperation
            width: 172px
            height: 52px
            background: #2B59FF
            box-shadow: 0px 0px 19.699999809265137px rgba(9.89, 54.54, 215.69, 0.60)
            border-radius: 12px
            display: flex
            justify-content: center
            align-items: center
            &-icon
                width: 20px
                height: 20px
                margin-right: 6px
        &-contacts
            width: 213px
            height: 52px
            background: rgba(72.25, 72.25, 72.25, 0.05)
            border-radius: 14px
            border: 1px #182D24 dotted
            display: flex
            justify-content: center
            align-items: center
            &-icon
                width: 18.33px
                height: 13.33px
                margin-right: 9px
            &-email
                color: #31E26A
                font-size: 14px
                font-weight: 500
        &-info
            margin-top: 70px
            display: flex
            justify-content: flex-start
            align-items: center
            gap: 20px
        &-message
            width: 420px
            color: #2C3041
            font-size: 12px
            font-weight: 500
    &__official
        &-info
            margin-top: 30px
            display: flex
            justify-content: flex-start
            align-items: center
            gap: 53px
    &__agreement, &__faq
        color: #2C3041
        font-size: 14px
        font-weight: 500
        text-decoration: none