.heart-counter
    position: relative
    margin-right: 30px
    display: flex
    justify-content: space-between
    align-items: center
    width: 86px
    height: 41px
    background: #000
    border-radius: 11px
    padding: 0 9px
    overflow: hidden
    &__sum
        color: #fff
        font-size: 12px
        font-weight: 900
    &__circle
        position: absolute
        left: 18px
        top: 13px
        width: 15px
        height: 15px
        background: #31E26A
        box-shadow: 10px 10px 10px
        border-radius: 100%
        filter: blur(12px)
