.header
    background-color: #121524
    padding-top: 20px
    &__ads-winter-block
        margin-right: 30px
    &__logo
        margin-right: 26px
    &__block
        display: flex
        justify-content: space-between
        align-items: center
        height: 60px
        width: 100%
        &-left, &-right
            display: flex
            justify-content: flex-start
            align-items: center
        &-left
            margin-left: 60px
    &__hamburger
        display: flex
        flex-direction: column
        justify-content: flex-start
        gap: 4px
        margin-right: 33px
        span
            height: 1.7px
            background-color: #4C5269
            &:nth-child(1), &:nth-child(3)
                width: 17px
            &:nth-child(2)
                width: 10px
    &__menu
        display: flex
        justify-content: space-between
        align-items: center
        gap: 40px
        &-item
            display: flex
            align-items: center
            &-icon
                margin-right: 8px
    &__auth
        display: flex
        justify-content: space-between
        align-items: center
        &-social-media
            width: 29px
            height: 29px
            background: #212639
            border-radius: 4px
            display: flex
            justify-content: center
            align-items: center
            &:nth-child(1)
                margin-right: 15px
            &:nth-child(2)
                margin-right: 20px
            img
                width: 16px
        
    &__account
        display: flex
        justify-content: space-between
        align-items: center
        gap: 30px
        &-balance
            position: relative
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            &-subtitle
                color: #fff
                font-size: 12px
                font-weight: 600
            &-sum
                display: flex
                justify-content: center
                align-items: center
                gap: 5px
                &-text
                    color: #fff
                    font-size: 13px
                    font-weight: 900
            &-plus
                width: 13px
                height: 13px
                background-color: #3060FF
                border-radius: 4px
                display: flex
                justify-content: center
                align-items: center
                position: relative
                span
                    border-radius: 1px
                    background-color: #121524
                    position: absolute
                    &:nth-child(1)
                        width: 6.5px
                        height: 1px
                        transform: rotate(90deg)
                        left: 3.3px
                    &:nth-child(2)
                        width: 6.5px
                        height: 1px
                        left: calc(50% - 3.1px)
        &-photo
            width: 57px
            height: 57px
            img
                width: 100%
    
.subheader
    background-color: #121524
    padding-top: 17px
    padding-bottom: 7px
    &__block
        width: 100%
        height: 60px
        background-color: #0D0F1B
        border-radius: 12px
        display: flex
        justify-content: flex-start
        align-items: center
        gap: 5px
        padding-left: 5px
    &__card
        width: 165px
        height: 53px
        background-color: #151B35
        border-radius: 8px
        position: relative
    &__card-text
        margin: 18px 14px
        color: #51647E
        font-size: 13px
        font-weight: 600
        text-transform: uppercase
    &__card-photo
        width: 70px
        height: 52px
        position: absolute
        right: 0
        bottom: 1px
        display: flex
        align-items: flex-end
        img
            width: 100%