.limited
    margin-bottom: 120px
    &__items
        margin-top: 60px
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
    &__item
        position: relative
        width: 276px
        height: auto
        &-dark
            &::before
                content: ""
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background: rgba(13, 15, 25, 0.6)
                z-index: 5
        &-image
            width: 100%
            height: 250px
            img
                width: 100%
                object-fit: cover
        &-title
            color: #fff
            font-size: 22px
            font-family: Inter
            font-weight: 900
            text-align: center
        &-counter
            margin-top: 12px
            color: #3F435A
            font-size: 12px
            font-weight: 700
            text-align: center
        &-price
            margin: 0 auto
            transform: translateY(-65px)
            width: 87px
            height: 42px
            background: #0D0F19
            border-radius: 10px
            border: 2px #1B295B solid
            position: relative
            color: #fff
            font-size: 16px
            font-weight: 700
            line-height: 38px
            text-align: center
            &-border
                position: absolute
                top: -2px
                left: -2px
                width: 28px
                height: 42px
                border-top-left-radius: 10px
                border-bottom-left-radius: 10px
                border-left: 2px #2B56E8 solid
                border-top: 2px #2B56E8 solid
                border-bottom: 2px #2B56E8 solid