.profile
    &__block
        height: auto
        width: 100%
        border: 2px rgb(46, 46, 46, 0.2) solid
        border-radius: 36px
        padding: 0 0 28px 0
        margin-top: 78px
        position: relative
    &__title
        text-align: center
        transform: translateY(-60%)
        color: #fff
        font-size: 38px
        font-weight: 700
    &__main
        display: flex
        justify-content: center
        align-items: center
        gap: 30px
        margin-top: 43px
        flex-wrap: wrap
    &__info
        width: 678px
        height: auto
        background: #121524
        border-radius: 13px
        padding: 21px
        display: flex
        justify-content: space-between
        align-items: center
    &__image
        width: 103px
        height: 103px
        background: #2B59FF
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.17)
        border-radius: 10px
        display: flex
        justify-content: center
        align-items: center
        img
            width: 53px
    &__account
        display: flex
        justify-content: center
        align-items: center
        row-gap: 10px
        column-gap: 30px
    &__balance
        color: #35F176
        font-size: 18px
        font-weight: 500
        text-transform: uppercase
        margin-top: 8px
    &__name
        color: #fff
        font-size: 27px
        font-weight: 800
        text-transform: uppercase
        width: 280px
        word-wrap: break-word
    &__button
        display: flex
        justify-content: center
        align-items: center
        width: 203px
        height: 44px
        border-radius: 11px
        font-size: 14px
        &-green
            background: linear-gradient(180deg, #00932F 0%, #00A535 100%)
            box-shadow: 0px 4px 4px rgba(0, 17, 5.44, 0.28)
            border: 1px #31AB5A solid
            gap: 10px
            color: #fff
            font-size: 14px
            font-weight: 600
        &-dark
            margin-top: 5px
            background: #21263F
            box-shadow: 0px 4px 4px rgba(14.02, 17.35, 34, 0.19)
            border: 1px #1A223B solid
            color: #8B95AD
            font-weight: 500
            gap: 10px
    &__cases-opened
        display: flex
        justify-content: flex-start
        align-items: center
        gap: 30px
    &__case
        &-opened
            position: relative
            width: 324px
            height: 145px
            background: #121524
            border-radius: 13px
            padding: 21px
        &-button
            margin-top: 12px
            width: 100px
            height: 28px
            background: #2B59FF
            box-shadow: 0px 4px 4px rgba(0, 27.20, 125.38, 0.21)
            border-radius: 8px
            border: 1px #2E5FFF solid
            color: white
            font-size: 10px
            font-weight: 700
        &-title
            margin-top: 3px
            color: white
            font-size: 20px
            font-weight: 800
            text-transform: uppercase
        &-subtitle
            color: #8B95AD
            font-size: 10px
            font-weight: 700
            text-transform: uppercase
        &-photo
            position: absolute
            width: 204px
            right: 0
            top: 0
            &-akr
                width: 185px
                top: 0px
    &-search
        margin-top: 40px
        &__block
            width: 100%
            min-height: 78px
            background: #121524
            box-shadow: 0px 4px 4px rgba(18, 21, 36, 0.25)
            border-radius: 20px
            display: flex
            justify-content: space-between
            align-items: center
            flex-wrap: wrap
            padding: 14px
            row-gap: 20px
        &__buttons
            display: flex
            justify-content: flex-start
            align-items: center
            gap: 20px
        &__button-fill
            height: 50px
            display: flex
            justify-content: center
            align-items: center
            background: #2B59FF
            box-shadow: 0px 4px 4px rgba(0, 27.20, 125.38, 0.21)
            border-radius: 8px
            border: 1px #2E5FFF solid
            gap: 10px
            color: #fff
            font-size: 14px
            font-weight: 700
            padding: 16px 26px 16px 14px
        &__filters
            display: flex
            justify-content: flex-end
            align-items: center
            gap: 20px
        &__checkbox
            width: auto
            height: 50px
            padding: 13px 20px 13px 13px
            background: #21263F
            border-radius: 10px
            display: flex
            justify-content: center
            align-items: center
            gap: 13px
            &-text
                color: #67718E
                font-size: 12px
                font-weight: 500
            &-selector
                width: 14px
                height: 14px
                background: #303651
                border-radius: 2px
                margin-left: 20px
                &-wrapper
                    width: 44px
                    height: 24px
                    background: #121524
                    border-radius: 7px
                    padding: 5px
                &-active
                    margin-left: 0
                    background: #2B59FF

.account-items
    margin-top: 40px
    &__list
        display: flex
        justify-content: center
        align-items: flex-start
        gap: 14px
        flex-wrap: wrap







    
