.title
    &_main-page-cases
        color: #fff
        font-size: 36px
        font-weight: 900
        text-align: center
        text-transform: uppercase
        display: flex
        justify-content: center
        align-items: center
        gap: 20px


// .cases-title
//     color: #fff
//     font-size: 28px
//     font-weight: 900
//     text-transform: uppercase
//     line-height: 27.16px
//     display: flex
//     justify-content: center
//     align-items: center
//     gap: 20px