.upgrade
    &__header
        margin: 0 auto
        display: grid
        grid-template-columns: 1fr auto 1fr
        align-items: start
        justify-items: end
        width: 100%
    &__logo
        margin: 0 auto
        background-image: url('../img/upgrade/images/upgrade-block.png')
        background-size: cover
        width: 278px
        height: 86px
        transform: translateY(-15px)
        font-weight: 800
        font-size: 22px
        color: #fff
        display: flex
        justify-content: center
        align-items: center
    &__menu
        display: flex
        justify-content: flex-start
        align-items: center
        gap: 15px
        &-right
            justify-self: start
        &-left
            justify-self: end
        &-item
            width: 160px
            height: 60px
            
            &-right
                transform: skew(-30deg)
                border: 2px #404965 solid
                border-radius: 5px
                position: relative
                &::after
                    content: ''
                    display: block
                    width: 160px
                    height: 60px
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 20%, rgb(40, 45, 66, 0.7) 100%)
                    border-radius: 5px
                    transform: translate(-2px, -28px)
                    position: absolute
                    bottom: -30px
            &-left
                transform: skew(30deg)
                border: 2px #404965 solid
                border-radius: 5px
                position: relative
                &::after
                    content: ''
                    display: block
                    width: 160px
                    height: 60px
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 20%, rgb(40, 45, 66, 0.7) 100%)
                    border-radius: 5px
                    transform: translate(-2px, -28px)
                    position: absolute
                    bottom: -30px
            &-text
                position: absolute
                width: 100%
                height: 100%
                font-weight: 700
                font-size: 14px
                text-transform: uppercase
                color: #fff
                z-index: 5
                line-height: 60px
                text-align: center
                &-right
                    transform: skew(30deg)
                &-left
                    transform: skew(-30deg)
            &-icon
                width: 100%
                height: 100%
                display: flex
                justify-content: center
                align-items: center
                &-right, &-left
                    position: relative
                    z-index: 5
                &-right
                    transform: skew(30deg)
                &-left
                    transform: skew(-30deg)

            &-active
                border: 2px #3060FF solid
                position: relative
                &::after
                    content: ''
                    display: block
                    width: 160px
                    height: 60px
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 20%, rgb(30, 56, 156, 0.7) 100%)
                    border-radius: 5px
                    transform: translate(-2px, -28px)
                    position: absolute
                    bottom: -30px
    &__block
        position: relative
    &__selector
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto
    &__circle
        position: relative
        margin-top: 30px
        background-image: url('../img/upgrade/images/circle-back.png')
        background-size: cover
        width: 451px
        height: 451px
        &-border
            margin: 0 auto
            margin-top: 39px
            margin-left: 37px
            width: 372px
            height: 372px
        &-arrow
            position: absolute
            &-white
                top: 12%
                left: 50%
                transform: translateX(-60%)
            &-grey
                top: 15%
                left: 50%
                transform: translateX(-70%)
        &-percentage
            color: #2C5BFF
            font-size: 43px
            font-weight: 800
            position: absolute
            top: 170px
            left: 50%
            transform: translateX(-50%)
        &-text
            position: absolute
            top: 236px
            left: 50%
            transform: translateX(-50%)
            width: 146px
            text-align: center
            color: #fff
            font-size: 20px
            font-weight: 700
            text-transform: uppercase


    &__selected
        &-item
            display: flex
            justify-content: flex-start
            align-items: center
            position: relative
            &-left
                background-image: url('../img/upgrade/images/left-back.png')
                background-size: cover
                width: 416px
                height: 242px
                transform: translateX(25px)
            &-right
                background-image: url('../img/upgrade/images/right-back.png')
                background-size: cover
                width: 416px
                height: 242px
                transform: translateX(-25px)
        &-title
            position: absolute
            font-weight: 400
            font-size: 14px
            color: #8a91ad
            text-align-last: left
            width: 150px
            &-left
                top: -55px
                left: 70px
            &-right
                top: -55px
                right: 120px

        &-photo
            position: absolute
            width: 425px
            height: 272px
            &-left
                bottom: -20px
                left: -40px
            &-right
                bottom: -20px
                right: -40px

.invent
    margin-top: 50px
    &__block
        display: flex
        justify-content: center
        align-items: center
        gap: 30px
        width: 100%
.title-wrapper
    display: flex
    justify-content: flex-start
    align-items: center
    gap: 10px
    margin-left: 5px

.your-invent
    width: 50%
    height: 536px
    background: #121524
    border-radius: 23px
    padding-top: 35px
    padding-left: 30px
    padding-right: 30px
    &__icon
        width: 17px
        height: 17px
    &__title
        color: #fff
        font-size: 14px
        font-weight: 600
    &__divider
        margin-top: 25px
        width: 649px
        height: 2px
        background: #171A2C
        &-contract
            width: 100%
    &__text
        margin-top: -90px
        padding-bottom: 120px
        text-align: center
        color: #8A91AD
        font-size: 13px
        font-weight: 600
    &__ak
        width: 100%
        img
            display: block
            margin: 0 auto
    &-contract
        width: 100%
        margin: 0 auto
        margin-top: 150px
        height: auto
        &__block
            width: 100%
            background: #121524
            height: auto
            border-radius: 23px
            padding-top: 35px
            padding-left: 30px
            padding-right: 30px
            position: relative
    &__items
        margin-top: 25px
        padding: 0 70px 35px 70px
        &-list
            display: flex
            justify-content: flex-start
            align-items: flex-start
            flex-wrap: wrap
            row-gap: 20px
            column-gap: 15px


.invent-items
    width: 50%
    height: 536px
    background: #121524
    border-radius: 23px
    padding-left: 30px
    padding-top: 20px
    &__header
        padding: 0 30px 0 0
        &-wrapper
            display: flex
            justify-content: space-between
            align-items: center
    &__filters
        display: flex
        justify-content: flex-end
        align-items: center
        gap: 10px
    &__icon
        width: 23px
        height: 23px
    &__title
        color: #fff
        font-size: 14px
        font-weight: 600
    &__price
        display: flex
        justify-content: center
        align-items: center
        gap: 4px
        width: auto
        height: 51px
        background: #0D0F19
        border-radius: 11px
        color: #414965
        font-size: 12px
        font-weight: 600
        text-align: center
        line-height: 51px
        padding: 0 22px
        input
            width: 20px
            border: none
            background: none
            text-align: center
            color: #fff
            padding: 0
            &::placeholder
                text-align: center
                color: #fff
        span
            color: #fff
            font-weight: 600
        &-text
            &-1
                width: 42px
            &-2
                width: 4px
    &__rarity
        &-button
            display: flex
            justify-content: center
            align-items: center
            gap: 15px
            width: 114px
            height: 51px
            background: #212537
            border-radius: 11px
            border: none
            color: #fff
            font-size: 12px
            font-weight: 600
        &-list
            position: absolute
            width: 100px
            height: auto
            background: #0D0F19
            box-shadow: 0px 4px 4px rgba(12.03, 14.06, 24.23, 0.25)
            border-radius: 11px
            z-index: 7
            transform: translateY(5px)
            padding: 15px
            display: flex
            justify-content: flex-start
            align-items: flex-start
            flex-direction: column
            gap: 5px
        &-item
            color: #5980FF
            font-size: 12px
            font-weight: 600
            &-common
                color: #7C7C7C
            &-uncommon
                color:#5980FF
            &-rare
                color: #002AC0
            &-epic
                color: #8120EF
            &-legendary
                color: #F140AF
            &-arcane
                color: #E42738
    &__price-selector
        position: relative
        &-button
            display: flex
            justify-content: center
            align-items: center
            gap: 15px
            width: 88px
            height: 51px
            background: #212537
            border-radius: 11px
            border: none
            color: #fff
            font-size: 12px
            font-weight: 600
        &-list
            position: absolute
            padding: 12px
            width: auto
            height: auto
            background: #0D0F19
            box-shadow: 0px 4px 4px rgba(12.03, 14.06, 24.23, 0.25)
            border-radius: 11px
            z-index: 7
            transform: translateY(5px)
            display: flex
            justify-content: flex-start
            align-items: flex-start
            flex-direction: column
            gap: 5px
        &-item
            color: #7C7C7C
            font-size: 12px
            font-weight: 600
            span
                color: #fff
    &__search
        width: 131px
        height: 51px
        padding: 17px
        background: #0D0F19
        border-radius: 11px
        display: flex
        justify-content: space-between
        align-items: center
        input
            width: 100%
            border: none
            background: none
            color: #fff
            padding: 0 3px 0 0
            &::placeholder
                width: 80px
                color: #414965
                font-size: 12px
                font-weight: 600
    &__divider
        margin-top: 14px
        width: 100%
        height: 2px
        background: #171A2C
    &__wrapper
        margin-top: 20px
        padding-right: 9px
        width: 100%
        height: 400px
        display: flex
        justify-content: flex-start
        align-items: center
        gap: 11px
    &__block
        overflow: auto
        height: 100%
        width: 100%
        &::-webkit-scrollbar
            display: none
    &__list
        width: 100%
        height: 100%
        display: flex
        justify-content: flex-start
        align-items: flex-start
        flex-wrap: wrap
        gap: 9px
    &__scroll
        height: 100%
        width: 5px
        background: #22263C
        &-mini
            height: 49px
            background: #2B59FF
            border-radius: 5px


.faq
    margin-top: 100px
    &__title
        color: #fff
        font-size: 26px
        font-weight: 700
        text-transform: uppercase
        text-align: center
    &__subtitle
        margin-top: 5px
        color: #8B95AD
        font-size: 16px
        font-weight: 500
        text-align: center
    &__items
        width: 100%
        display: flex
        justify-content: flex-start
        align-items: flex-start
        gap: 25px
        margin-top: 42px
    &__list
        width: 100%
        display: flex
        justify-content: center
        align-items: flex-start
        flex-direction: column
        gap: 13px
    &__item
        height: auto
        width: 100%
        background: #121524
        border-radius: 17px
        padding-left: 21px
        padding-top: 21px
        padding-bottom: 22px
        padding-right: 18px
        &-title
            color: #fff
            font-size: 14px
            font-weight: 700
            &-wrapper
                display: flex
                justify-content: flex-start
                align-items: center
                gap: 26px
        &-descr
            margin-top: 18px
            color: #8B95AD
            font-size: 12px
            font-weight: 500
            &-hidden
                display: none
        &-icon
            span
                display: block
                width: 18px
                height: 2px
            &-plus
                span
                    background: #2F64FF
                    &:nth-child(1)
                        transform: rotate(90deg) translate(2px, 0px)       
            &-minus
                span
                    background: #E42738
        

