.modal
    &__window
        &-withdraw
            background-image: url('../img/profile/background-modal.png')
            background-size: cover
            position: relative
            padding-bottom: 40px
            overflow: hidden
    &__steps
        height: auto
        width: 100%
        padding: 40px
    &-withdraw
        padding: 40px
        &__light
            position: absolute
            bottom: -200px
            right: -100px
            width: 474.30px
            height: 256px
            transform: rotate(-31.71deg)
            background: #2B59FF
            box-shadow: 300px 300px 300px
            border-radius: 57px
            filter: blur(120px)
            z-index: 1
        &__picture
            width: 407px
            position: absolute
            bottom: 0
            right: 21px
            z-index: 2
        &__step
            display: flex
            justify-content: flex-start
            align-items: flex-start
            gap: 17px
            margin-top: 35px
            &:nth-child(1)
                margin-top: -12px
            &-input
                width: 194px
                height: 42px
                background: #0F111F
                box-shadow: 0px 4px 4px rgba(14.02, 17.35, 34, 0.19)
                border-radius: 5px
                border: 1px #3060FF solid
                color: #fff
                font-size: 13px
                padding: 13px
                &::placeholder
                    color: #2B56E8
                    font-size: 13px
                    font-weight: 300
            &-descr
                color: #8B95AD
                font-size: 16px
                font-weight: 400
                margin-top: 5px
                max-width: 450px
                word-wrap: break-word
                span
                    font-weight: 700
                    img
                        transform: translateY(4px)
                    
            &-number
                width: 34px
                height: 34px
                border-radius: 100%
                border: 3px #2B56E8 solid
                color: #2B59FF
                font-size: 16px
                font-weight: 700
                line-height: 29px
                text-align: center
            &-title
                color: #2B59FF
                font-size: 18px
                font-weight: 700
        &__selector
            &-item
                display: flex
                align-items: center
                width: 100%
                margin-left: 91px
            &-text
                color: #8B95AD
                font-size: 16px
                font-weight: 400
            &-button
                display: flex
                justify-content: space-between
                align-items: center
                padding: 27px 38px
                width: 308px
                height: 74px
                background: #0B0D19
                border-top-left-radius: 15px
                border-bottom-left-radius: 15px
                border: none
                &-submit
                    display: block
                    width: 134px
                    height: 74px
                    background: #2B56E8
                    box-shadow: 0px 0px 13.899999618530273px rgba(43, 86, 232, 0.50)
                    border-top-right-radius: 15px
                    border-bottom-right-radius: 15px
                    border: none
                    color: white
                    font-size: 16px
                    font-weight: 600
                    text-transform: uppercase






