.block-title {
    color: black;
    font-size: 48px;
    font-weight: 500;
    word-wrap: break-word;
    font-family: "Inter", sans-serif;
}

.block-descr {
    color: #808080;
    font-size: 20px;
    font-weight: 400;
}