.product-card {
    &__wrapper {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__preview {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    &__col {
        &-left {
            margin-left: 220px;
        }
        &-right {
            margin-left: 75px;
        }
    }
    &__image {
        width: 202px;
        height: auto;
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    &__preferences {
        margin-top: 40px;
    }
    &__preference {
        margin-top: 16px;
        color: #808080;
        font-size: 20px;
        font-weight: 400;
        word-wrap: break-word;
    }
    &__name {
        color: black;
        font-size: 32px;
        font-weight: 400;
        word-wrap: break-word;    
    }
    &__stars {
        margin-top: 19px;
        display: flex;
        gap: 4px;
    }
    &__code {
        margin-top: 19px;
        color: #808080;
        font-size: 20px;
        font-weight: 400;
        word-wrap: break-word;    
    }
    &__settings {
        margin-top: 31px;
    }
    &__setting {
        &-name {
            margin-top: 24px;
            color: black;
            font-size: 20px;
            font-weight: 400;
        }
        &-buttons {
            margin-top: 20px;
            display: flex;
            gap: 16px;
        }
    }
}