.windows-banner {
    width: 425px;
    min-height: 100%;
    background-color: #543088;
    border-radius: 24px;
    &__wrapper {
        position: relative;
        padding: 40px;
        height: 100%;
    }
    &__image {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__descr {
        margin-top: 40px;
        color: white;
        font-size: 24px;
        font-weight: 500;
    }
}