.logo
    color: #fff
    font-size: 37px
    font-style: italic
    font-weight: 900
    text-decoration: none
    span
        color: #2B59FF

.text-fw600
    color: #fff
    font-size: 14px
    font-weight: 600

.text-fw700
    color: #fff
    font-size: 14px
    font-weight: 700

.header__ads-block-auth
    margin-right: 50px

.hidden
    display: none

.button-fill
    display: inline-block
    width: auto
    height: auto
    background: #2B59FF
    box-shadow: 0px 0px 10.699999809265137px #001B7E
    border-radius: 12px
    border: none
    color: #fff
    font-size: 12px
    font-weight: 600
    padding: 12px 17px
    &-bonus
        display: block
        box-shadow: 0px 0px 150px rgba(64.81, 106.08, 255, 0.46)
        border: 1px #2C5DFF solid
        margin: 0 auto
        margin-top: 16px
        &-big-padding
            padding: 12px 27px

.back-button
    border-radius: 12px
    width: 113px
    height: 45px
    background: #161722
    display: flex
    justify-content: center
    align-items: center
    gap: 15px
    font-weight: 500
    &__text
        font-size: 14px
        color: #8188a5
    &-upgrade
        position: absolute
        top: 72px
        left: 52px
    &-case
        position: absolute
        top: 72px
        left: 52px
    &-profile, &-balance, &-case1x
        position: absolute
        top: 28px
        left: 28px
        z-index: 5
    &-case1x
        top: 68px
        
    

.openning-label
    width: 152px
    height: 52px
    background: #121524
    border-radius: 12px
    border: 1px #131624 solid
    color: #4F5670
    font-size: 16px
    font-weight: 700
    text-align: center
    line-height: 52px
    &-case
        margin: 0 auto
        margin-top: 110px
    
.title
    color: #fff
    &-fz26
        font-size: 26px
        font-weight: 700
        text-transform: uppercase
        &-case-inside
            text-align: center
