*
    box-sizing: border-box
    font-family: 'Inter', sans-serif

body
    background-color: #0D0F19
    margin: 0

.container
    max-width: 1440px
    margin: 0 auto
    
@import 'base/variables'
@import 'base/mixins'
@import "blocks/promo"
@import "blocks/header"
@import "blocks/top-banner"
@import "blocks/farm-cases"
@import "blocks/search"
@import "blocks/mystery-cases"
@import "blocks/limited"
@import "blocks/footer"
@import "blocks/change-language.sass"
@import "blocks/heart-counter.sass"
@import "blocks/drum.sass"
@import "blocks/cards.sass"
@import "blocks/promocode-button.sass"
@import "blocks/upgrade.sass"
@import "blocks/case.sass"
@import "blocks/case-item.sass"
@import "blocks/promo-modal.sass"
@import "blocks/bonus.sass"
@import "blocks/profile.sass"
@import "blocks/withdraw-modal.sass"
@import "blocks/contract.sass"
@import "blocks/auth-modal.sass"
@import "blocks/error-withdraw.sass"
@import "blocks/balance.sass"
@import "blocks/case-color.sass"
@import "blocks/case2x-process.sass"
@import "blocks/case1x-final.sass"
@import 'blocks/ads-winter.sass'
@import 'blocks/every-day-challenge.sass'
@import 'blocks/titles.sass'
@import 'main.sass'
@import 'global.sass'
@import 'blocks/buttons.sass'
@import 'inline-styles.sass'
@import 'media.sass'