.text_fz16 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.text-fz96 {
    font-size: 96px;
}

.fz22 {
    font-size: 22px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    &__text {
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 0.90px;
        word-wrap: break-word;
        color: #fff;
        span {
            color: #E75526;
        }
    }
}

.display-none {
    display: none;
}