* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #040404;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

.background {
    height: 105%;
    transform: translate(-30%, -5%);
    &_settings {
        transform: translate(-10%, -5%);
    }
    &__wrapper {
        width: 100%;
        height: calc(100% + 100px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
    }
}

.empty-block {
    height: 100vh;
    width: 100%;
}

.rotate {
    transform: rotate(180deg);
    transition: 0.5s;
}

.text-fz28 {
    font-size: 28px;
}

.text-fz96 {
    font-size: 96px;
}

.overflow-hidden {
    overflow: hidden;
}

h2, h3 {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: 'newFont';
    src: url('fonts/font.otf') format('opentype');
}

@import 'base/variables';
@import 'base/mixins';
@import 'blocks/header';
@import 'blocks/hello';
@import 'blocks/referrals';
@import 'blocks/award';
@import 'blocks/promo';
@import 'blocks/footer';
@import 'blocks/settings';
@import 'blocks/buttons';
@import 'blocks/banner';
@import 'blocks/how-works';
@import 'blocks/reward';
@import 'blocks/modal';
@import 'blocks/modal-withdraw';
@import 'blocks/modal-promocode';
@import 'media/header';
@import 'media/footer';
@import 'media/hello';
@import 'media/referrals';
@import 'media/award';
@import 'media/promo';
@import 'media/modal-promocode';
@import 'media/modal-withdraw';
@import 'media/modal';
@import 'media/banner';
@import 'media/how-works';
@import 'media/reward';
@import 'media/settings';
@import 'media/media';
@import 'global';