.special-offer {
    &__title {
        padding: 24px 16px 0px 16px;
        color: #202020;
		font-size: 20px;
		font-family: BrawlStarsRU;
		font-weight: 400;
		line-height: 24px;
		word-wrap: break-word;
    }
    &__slider {
        padding: 12px 0px 24px 0px;
        overflow-y: auto;
        width: 100%;
        height: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
          }
    }
    &__cards {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        transform: translateX(16px);
        width: fit-content;
        padding-right: 16px;
    }
}