.top-content {
    padding-bottom: 20px;
    background-color: #fff;
    &_secondary-background {
        background-color: $secondary-background;
    }
    &_dark {
        background-color: #202020;
    }
}